<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'1'">1</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'2'">2</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'3'">3</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'4'">4</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'5'">5</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'6'">6</ion-radio>
<ion-radio class="wrapping-list" ng-model="data.Marks" ng-value="'7'">7</ion-radio>