<span ng-if="category.CategoryAverage <= 1">Absent/Improve</span>
<span ng-if="category.CategoryAverage <= 2 && category.CategoryAverage > 1">Insufficient/Insignificant</span>
<span ng-if="category.CategoryAverage <= 3 && category.CategoryAverage > 2">Evident/Mediocre</span>
<span ng-if="category.CategoryAverage <= 4 && category.CategoryAverage > 3">Needs Harnessing</span>
<span ng-if="category.CategoryAverage <= 5 && category.CategoryAverage > 4">Good/Sound</span>
<span ng-if="category.CategoryAverage <= 6 && category.CategoryAverage > 5">Personal Innovation</span>
<span ng-if="category.CategoryAverage <= 7 && category.CategoryAverage > 6">Effortless and Habitual</span>