<ion-view title="Shared Details">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-more-vertical" ng-click="openPopover($event)" ng-if="canEdit"></button>
        <button class="button button-icon ion-trash-b" ng-click="deleteAssignment()" ng-if="!canEdit"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" style="margin-bottom:0px;" ng-if="canEdit">
            <div class="item item-avatar-right">
                <img src="app/images/doc.svg" style="border-radius: 0%" ng-show="newAssignment.DocumentURL != null && newAssignment.DocumentURL != ''" ng-click="viewDocument()">
                <h2>{{newAssignment.Name}}</h2>
                <p>{{newAssignment.CreatedAt | date: 'dd-MMM'}}</p>
            </div>
            <div class="item" ng-if="newAssignment.Description != null && newAssignment.Description != ''">
                <h2 style="white-space: normal" compile="DescriptionToShow"></h2>
            </div>
            <iframe ng-if="newAssignment.VideoURL" width="100%" height="202px" src="{{newAssignment.VideoURL}}" frameborder="0" allowfullscreen></iframe>
            <ion-gallery ng-if="newAssignment.Images.length > 0" ion-gallery-items="newAssignment.Images"></ion-gallery>
        </div>
        <div class="list" style="margin-bottom:0px;" ng-if="!canEdit">
            <form name="assignmentForm">
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Title</span>
                    <input type="text" name="assignmentName" placeholder="Title" ng-model="newAssignment.Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Description (200 characters)</span>
                    <textarea placeholder="Write Description, Add Links etc." name="assignmentDescription" rows="5" class="textArea" ng-model="newAssignment.Description"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Document URL</span>
                    <input type="text" name="documentURL" placeholder="Document URL" ng-model="newAssignment.DocumentURL">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Add Youtube Video</span>
                    <input type="text" name="videoURL" placeholder="Youtube Video URL" ng-model="newAssignment.VideoURL">
                </label>
            </form>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-custom button-footer-bar custom-footer" style="padding:0;border:none;" ng-if="!canEdit">
        <button style="border-radius:0px;width: 50%;background-color:#ffc900;border-color:#ffc900;" class="button button-energized" ng-click="toggleEdit()">
            Discard
        </button>
        <button style="border-radius:0px;width: 50%;top:0; bottom:0;" class="button button-custom" ng-click="update()">
            Update
        </button>
    </ion-footer-bar>
    <ion-floating-menu ng-if="canEdit" menu-color="#4a79c9" menu-icon="ion-android-share-alt" menu-open-color="#4a79c9">
        <ion-floating-item button-color="#4a79c9" icon="ion-android-download" text="Download" click="checkPermission(0)"></ion-floating-item>
        <ion-floating-item button-color="#4a79c9" icon="ion-android-share-alt" text="Share" click="checkPermission(1)"></ion-floating-item>
    </ion-floating-menu>
</ion-view>