<ion-popover-view style="height: 228px;">
    <ion-content>
        <div class="list" style="margin-left: 1px;">
            <a class="item" href ng-click="classFilterSelected(9)" style="color:#4a79c9">
                All Topics
            </a>
            <a class="item" href ng-click="classFilterSelected(1)" style="color:#e33e2b">
                Topics to Re-Teach
            </a>
            <a class="item" href ng-click="classFilterSelected(2)" style="color:#f1b500">
                Topics to Focus
            </a>
            <a class="item" href ng-click="classFilterSelected(3)" style="color:#2ba14b">
                Topics Good At
            </a>
        </div>
    </ion-content>
</ion-popover-view>