<ion-view>
    <ion-nav-title>{{pageTitle}}<span ng-if="selected.showStudentCount"> ({{studentsToShow.length}})</span></ion-nav-title>
    <ion-content class="report-page">
        <ion-slides slider="slider" options="options" ion-slides-tabs slide-tabs-scrollable="true" show-pager="false" on-slide-changed="slideChanged(index)" ng-if="loggedInUser.PackageCode == 'SMART'">
            <ion-slide-page ion-slide-tab-label="{{keywords.ClassKeyword}} Performance" class="loginPageTabs">
                <ion-content>
                    <ion-list class="collapsible-list">
                        <div ng-repeat="chapter in chaptersToShow | orderBy: 'DisplayOrder'">
                            <ion-item class="item-stable" ng-click="toggleChapter(chapter)" ng-class="{active: isChapterShown(chapter)}">
                                <i class="icon" ng-class="isChapterShown(chapter) ? 'ion-minus' : 'ion-plus'" style="float:left;"></i>
                                <div style="overflow: hidden; text-overflow: ellipsis;width: 80%;float:left;">
                                    &nbsp;&nbsp;{{chapter.Name}}
                                </div>
                                <span ng-if="chapter.ChapterAverage != null" class="item-note scorecard-note" ng-class="{'google-green':chapter.ChapterAverage>=75, 'google-yellow' :(chapter.ChapterAverage<75 && chapter.ChapterAverage>=50), 'google-red': chapter.ChapterAverage<50}">
                                    {{chapter.ChapterAverage | number: 1}} %
                                </span>
                            </ion-item>
                            <div class="topic-names item item-accordion item-icon-right" ng-show="isChapterShown(chapter)" ng-repeat="topic in chapter.Topics" style="padding:10px 16px;">
                                <div class="row no-padding">
                                    <div class="col no-padding" style="white-space: normal;">
                                        {{topic.Name}}
                                    </div>
                                    <div class="col no-padding col-20 text-center" ng-if="topic.IsCompleted">
                                        <span class="item-note scorecard-note" ng-class="{'google-green':topic.TopicAverage>=75, 'google-yellow' :(topic.TopicAverage<75 && topic.TopicAverage>=50), 'google-red': topic.TopicAverage<50}">
                                            {{topic.TopicAverage | number: 1}} %
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-list>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page ion-slide-tab-label="Students" class="loginPageTabs">
                <div style="padding:10px;">
                    <rzslider class="custom-slider" rz-slider-model="sliderOptions.minValue" rz-slider-high="sliderOptions.maxValue" rz-slider-options="sliderOptions.options" onChange="marksRangeChanged()"></rzslider>
                </div>
                <ion-content class="inner-content">
                    <div ng-if="studentsToShow.length > 0">
                        <!-- ng-click="studentSelected(student)"  -->
                        <a href class="item marksItem item-icon-right" ng-repeat="student in studentsToShow | filter:search | orderBy: sortOrder">
                            <div class="row no-padding">
                                <div class="col col-60 no-padding" style="overflow: hidden;">
                                    <h2>{{student.Name | titleCase}}</h2>
                                    <p>{{student.FindInboxId}}</p>
                                </div>
                                <div class="col no-padding text-center">
                                    <span ng-if="student.Marks != 'Ab'" style="line-height: 41.2px;" ng-class="{'google-green':(student.Marks)>=75, 'google-yellow' :((student.Marks)<75 && (student.Marks)>=50), 'google-red': (student.Marks)<50}">
                                        {{student.Marks | number: 1}}%
                                    </span>
                                    <span class="google-red" style="line-height: 41.2px;" ng-if="student.Marks == 'Ab'">
                                        {{student.Marks}}
                                    </span>
                                </div>
                            </div>
                            <!-- <i class="icon ion-chevron-right custom"></i> -->
                        </a>
                    </div>
                    <div class="row" ng-if="studentsToShow.length == 0">
                        <div class="col text-center">
                            There are not students to show in this category
                        </div>
                    </div>
                </ion-content>
            </ion-slide-page>
        </ion-slides>
        <div class="list" style="margin-bottom: 0px;" ng-if="loggedInUser.PackageCode != 'SMART'">
            <div style="padding:10px;">
                <rzslider class="custom-slider" rz-slider-model="sliderOptions.minValue" rz-slider-high="sliderOptions.maxValue" rz-slider-options="sliderOptions.options" onChange="marksRangeChanged()"></rzslider>
            </div>
        </div>
        <ion-content class="inner-content">
            <div ng-if="loggedInUser.PackageCode != 'SMART'">
                <!-- ng-click="studentSelected(student)"  -->
                <a href class="item marksItem item-icon-right" ng-repeat="student in studentsToShow | filter:search | orderBy: 'Marks'">
                    <div class="row no-padding">
                        <div class="col col-60 no-padding" style="overflow: hidden;">
                            <h2>{{student.Name | titleCase}}</h2>
                            <p>{{student.FindInboxId}}</p>
                        </div>
                        <div class="col no-padding text-center">
                            <span ng-if="student.Marks != 'Ab'" style="line-height: 41.2px;" ng-class="{'google-green':(student.Marks)>=75, 'google-yellow' :((student.Marks)<75 && (student.Marks)>=50), 'google-red': (student.Marks)<50}">
                                {{student.Marks | number: 1}}%
                            </span>
                            <span class="google-red" style="line-height: 41.2px;" ng-if="student.Marks == 'Ab'">
                                {{student.Marks}}
                            </span>
                        </div>
                    </div>
                    <!-- <i class="icon ion-chevron-right custom"></i> -->
                </a>
            </div>
        </ion-content>
    </ion-content>
    <ion-footer-bar class="bar-custom button-footer-bar custom-footer" style="padding:0;border:none;" ng-if="loggedInUser.PackageCode != 'BASIC'">
        <div class="row no-padding" ng-if="currentPage == 0">
            <div class="col no-padding">
                <button style="border-radius:0px;" class="button button-custom loginButton" ng-click="openPopover($event)">
                    <span style="font-size:16px;">Sort</span>
                </button>
            </div>
        </div>
        <div class="row no-padding" ng-if="currentPage == 1">
            <div class="col no-padding">
                <button style="border-radius:0px;" class="button button-custom loginButton" ng-click="openPopover2($event)">
                    <span style="font-size:16px;">Sort</span>
                </button>
            </div>
            <!-- <div class="col no-padding">
                <button style="border-radius:0px;" class="button button-custom loginButton" ng-click="openFilterModal($event)">
                    <span style="font-size:16px;">Filter</span>
                </button>
            </div> -->
        </div>
    </ion-footer-bar>
</ion-view>