<ion-view title="Create Quiz">
    <ion-content class="has-header has-footer">
        <div class="list" style="margin-bottom:0px;">
            <form name="testCreateForm">
                <li class="item item-toggle">
                    Enable Time Constraint
                    <label class="toggle toggle-custom">
                        <input type="checkbox" ng-model="newSmartTest.EnableTimeConstraint">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </form>
        </div>
        <ion-list class="collapsible-list" style="margin-bottom:0px;">
            <div ng-repeat="chapter in chapters">
                <ion-item class="item-stable" ng-click="toggleChapter(chapter)" ng-class="{active: isChapterShown(chapter)}">
                    <i class="icon custom" ng-class="chapter.isSelected ? 'ion-minus-circled' : 'ion-plus-circled'" style="float: left;font-size: 25px;" ng-click="checkAll($index, $event)"></i>
                    <div style="overflow: hidden; text-overflow: ellipsis;width: 85%;display: inline-block;">
                        &nbsp;&nbsp;{{chapter.Name}}
                    </div>
                    <i class="icon" ng-class="isChapterShown(chapter) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'" style="float:right;"></i>
                </ion-item>
                <ion-checkbox ng-model="topic.isSelected" class="checkbox-custom item-accordion" ng-true-value="true" ng-false-value="false" ng-show="isChapterShown(chapter)" ng-repeat="topic in chapter.Topics | filter:search" ng-change="topicSelected($index,$parent.$index)">
                    <h2>{{topic.Name}}</h2>
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-custom button-footer-bar custom-footer" style="padding:0;border:none;">
        <button style="border-radius:0px;" class="button button-custom loginButton" ng-click="createSmartTest()">Create</button>
    </ion-footer-bar>
</ion-view>