<ion-view title="{{test.Name}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-trash-b" ng-click="deleteTest()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" style="margin-bottom: -1px;">
            <div class="item">
                <h2 ng-show="test.TestDate != null">Test Date: {{test.TestDate | date: 'dd-MMM-yyyy'}}</h2>
                <h2 ng-hide="test.TestDate != null">Test Date: Not yet conducted</h2>
                <p ng-show="loggedInUser.Type != 'LM'">Max Marks: {{test.MaxMarks}}</p>
            </div>
        </div>
        <ion-list can-swipe="test.TestDate != null">
            <form id="chooseStudent-form4" class="list" style="margin-bottom:0px;width:100%;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" name="search" placeholder="Search Student" ng-model="search">
                </label>
            </form>
            <ion-item ng-repeat="student in students | filter:search | orderBy: 'Name'" class="item-icon-right">
                <h2>{{student.Name | titleCase}}</h2>
                <p>{{student.FindInboxId}}</p>
                <span style="top:27px;" class="badge" ng-class="student.Marks != 'Ab'? 'badge-calm' : 'badge-assertive'">{{student.Marks}}</span>
                <ion-option-button class="button-custom" ng-click="openModal(student)">
                    <i class="icon ion-edit"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="markAbsent(student)">
                    Ab
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- <ion-floating-button ng-if="loggedInUser.Type != 'LM'" click="addCriteria()" has-footer="false" button-color="#4a79c9" icon="ion-help" icon-color="#fff">
    </ion-floating-button> -->
</ion-view>